body {
    margin: 0 auto;
    font-family: 'East Sea Dokdo', cursive;
    background-color: #f8f8ff;
}

.zone {
    cursor: pointer;
    color: #FFF;
    font-size: 2em;
    border-radius: 4px;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}


/* nav */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 0;
}

.main-nav {
    display: flex;
    list-style: none;
    font-size: 1.5em;
    margin: 0;
    border-bottom: 2px solid #f8f8ff;
    background-color: #f8f8ff;
}

.push {
    margin-left: auto;
}

li {
    padding: 10px;
    margin-right: 20px;
}

.center{
    margin-left: auto;
    color: black;
}

h2 {
    font-size: 62pt;
    font-weight: 200;
    font-family: 'Rock Salt', cursive;
}

a {
    text-decoration: none;
    color: black;
}

/* COVER */
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin-top: 80px;
}

.cover {
    width: 25rem;
}

/* grid */
.grid-wrapper {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 100px 300px;
    grid-auto-flow: dense;
    margin-left: 20px;
    margin-right: 20px;
}

.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery-item .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: all 0.3s linear;
}

.gallery-item:hover .image img {
    transform: scale(1.035);
    -webkit-transform: scale(1.035);
    -moz-transform: scale(1.035);
    -o-transform: scale(1.035);
}


.w-1 {
    grid-column: span 1;
}

.w-2 {
    grid-column: span 2;
}

.w-3 {
    grid-column: span 3;
}

.w-4 {
    grid-column: span 4;
}

.w-5 {
    grid-column: span 5;
}

.w-6 {
    grid-column: span 6;
}

.h-1 {
    grid-row: span 1;
}

.h-2 {
    grid-row: span 2;
}

.h-3 {
    grid-row: span 3;
}

.h-4 {
    grid-row: span 4;
}

.h-5 {
    grid-row: span 5;
}

.h-6 {
    grid-row: span 6;
}

img{
    border-radius: 25px;
}


@media screen and (max-width:800px) {
    h2{
        font-size: 3em;
    }
}

/* @media screen and (min-width:2560px) {

    .grid-wrapper {
        grid-template-columns: repeat(7, 1fr);
    }

} */

@media screen and (max-width:500px) {
    .main-nav {
        font-size: 0.7em;
        padding: 0;
    }

    .grid-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .w-1,.w-2,.w-3,.w-4,.w-5,.w-6{
        grid-column: span 1;
    }

    h2{
        font-size: 1.8em;
    }

}

footer {
    text-align: center;
    margin-top: 3rem;
    padding-bottom: 10px;
    cursor: pointer;
    color: black;
    font-size: 1.2em;
    border-radius: 4px;
    transition: all 0.3s linear;
    font-family: 'Open Sans Condensed';
}

footer:hover{
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

.modal{
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-out;
}

.modal.open{
    opacity: 1;
    pointer-events: all;

}

.full-img{
    position: absolute;
    height: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.25s ease-out;
}

.full-img.open{
    transform: translate(-50%, -50%) scale(1);
}

.modal p{
    color: white;
    font-family: 'Open Sans Condensed';
    font-size: 2.5rem;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -5%);
}

.intro{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    background-color: #f8f8ff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}

.intro-text {
    color: #eae8e0;
    font-family: 'Open Sans Condensed';
    font-size: 3rem;
}

.hide{
    background: black;
    overflow: hidden;
}

.hide span{
    transform: translateY(100%);
    display: inline-block;
    margin-right: 10px;
}

/*********************************************************************** 
Broken White Background 
************************************************************************/
.white {
    background: -webkit-linear-gradient(top, #eae8e0);

}